<%= form_with(model: reminder_time) do |form| %>
  <% if reminder_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reminder_time.errors.count, "error") %> prohibited this reminder_time from being saved:</h2>

      <ul>
        <% reminder_time.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
